<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZombieMove01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,128}</string>
                <key>spriteSourceSize</key>
                <string>{69,128}</string>
                <key>textureRect</key>
                <string>{{183,0},{69,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ZombieMove02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,122}</string>
                <key>spriteSourceSize</key>
                <string>{87,122}</string>
                <key>textureRect</key>
                <string>{{155,128},{87,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ZombieMove03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,122}</string>
                <key>spriteSourceSize</key>
                <string>{82,122}</string>
                <key>textureRect</key>
                <string>{{73,128},{82,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ZombieMove04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,121}</string>
                <key>spriteSourceSize</key>
                <string>{73,121}</string>
                <key>textureRect</key>
                <string>{{0,128},{73,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ZombieMove05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,127}</string>
                <key>spriteSourceSize</key>
                <string>{59,127}</string>
                <key>textureRect</key>
                <string>{{0,0},{59,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ZombieMove06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,128}</string>
                <key>spriteSourceSize</key>
                <string>{62,128}</string>
                <key>textureRect</key>
                <string>{{59,0},{62,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ZombieMove07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,126}</string>
                <key>spriteSourceSize</key>
                <string>{62,126}</string>
                <key>textureRect</key>
                <string>{{121,0},{62,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ZombieMoveSheet.png</string>
            <key>size</key>
            <string>{252,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc5a1e5272486e2a4bcc07a107d4a839:fef917e9f632dea53b956359d6d19621:86e00c4fd96c26b02dfe870e3366c2f7$</string>
            <key>textureFileName</key>
            <string>ZombieMoveSheet.png</string>
        </dict>
    </dict>
</plist>
